<div class="card mb-5 mealbox">
  <img src="/Images/{{image_URL}}" class="card-img-top" alt="{{title}}" />
  <div class="card-body">
    <h5 class="card-title"><b>{{title}}</b></h5>
    <p class="card-text" style="font-size: small;">{{included}}</p>
    <p class="card-text"><small class="text-muted">{{price}}</small></p>
  </div>
</div>